@model Curtain

@{
    ViewData["Title"] = "Product Detail";
}

<main>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6" style="margin: auto">
                <img id="main-image" style="object-fit: contain;" src="~/@Model.ImageUrl" class="d-block mx-lg-auto img-fluid" alt="Cover Image" width="300" height="400" loading="lazy">
                <div class="row m-3 col-12">
                    <div class="col-6 col-sm-3">
                        <img style="object-fit: contain; margin:8px 0" onclick="change_image(this)" src="~/@Model.ImageUrl" width="100" height="100" />
                    </div>
                    <div class="col-6 col-sm-3">
                        <img style="object-fit: contain; margin:8px 0" onclick="change_image(this)" src="~/@Model.ImageOne" width="100" height="100" />
                    </div>
                    <div class="col-6 col-sm-3">
                        <img style="object-fit: contain; margin:8px 0" onclick="change_image(this)" src="~/@Model.ImageTwo" width="100" height="100" />
                    </div>
                    <div class="col-6 col-sm-3">
                        <img style="object-fit: contain; margin:8px 0" onclick="change_image(this)" src="~/@Model.ImageThree" width="100" height="100" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="text-break fw-bold lh-1 mb-3">নাম: @Model.Name</h5>
                @*                <div class="price d-flex flex-row align-items-center my:4">
                    <span class="act-price"><strong>দাম:</strong>৳ @Model.Price</span>
                    </div>*@
                <p class="text-break lead" style="margin: 12px 0"><strong>বর্ণনা:</strong> @Model.Description</p>

                <br />
                <br />
                <div class="d-grid d-md-flex justify-content-md-start">
                    <a class="btn btn-dark" role="button" asp-controller="Home" asp-action="Index">পেছনে ফেরত</a>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
<script>
    function change_image(image) {
        var container = document.getElementById("main-image");
        container.src = image.src;
    }
    document.addEventListener("DOMContentLoaded", function(event) {});
</script>
}